root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{glsl,rs,toml}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.scd]
indent_style = tab
tab_width = 4
