# FlameGraph script
FlameGraph

# Rust build directory
**/target

# Rust subcrate lockfiles
*/Cargo.lock

# Temp files
.idea
.vscode
*.iml
*~

# vim temporary files
*.swp

# other ignores
*.DS_Store
=======

# Snapcraft files
stage
prime
parts
*.snap
*.pyc
alacritty_*_source.tar.bz2
