language: rust
sudo: false

cache: cargo

os:
  - linux
  - osx

rust:
  - stable
  - nightly

env:
  - CLIPPY="true"
  - CLIPPY=""

install:
  - if [ -n "$CLIPPY" ]; then rustup component add clippy-preview; fi

addons:
  apt:
    packages:
      gperf

matrix:
  fast_finish: true
  exclude:
    - rust: stable
      env: CLIPPY="true"
    - rust: nightly
      env: CLIPPY=""
  allow_failures:
    - rust: nightly

script:
  - if [ -n "$CLIPPY" ]; then cargo clippy --all-features --all-targets; fi
  - if [ -z "$CLIPPY" ]; then cargo test; fi
  - if [ -z "$CLIPPY" ]; then cargo test -p font; fi
