[package]
name = "alacritty"
version = "0.2.9"
authors = ["Joe Wilm <joe@jwilm.com>"]
license = "Apache-2.0"
build = "build.rs"
description = "GPU-accelerated terminal emulator"
readme = "README.md"
homepage = "https://github.com/jwilm/alacritty"
edition = "2018"

[workspace]
members = [
    "font",
    "copypasta",
    "winpty"
]

[[bin]]
doc = false
path = "src/main.rs"
name = "alacritty"

[dependencies]
libc = "0.2"
notify = "4"
bitflags = "1"
font = { path = "./font" }
errno = "0.2"
parking_lot = "0.7"
serde = "1"
serde_derive = "1"
serde_json = "1"
serde_yaml = "0.8"
vte = "0.3"
mio = "0.6"
mio-extras = "2"
copypasta = { path = "./copypasta" }
xdg = "2"
log = "0.4"
clap = "2"
fnv = "1"
unicode-width = "0.1"
arraydeque = "0.4"
glutin = { version = "0.19", features = ["icon_loading"] }
env_logger = "0.6.0"
base64 = "0.10.0"
static_assertions = "0.3.0"
terminfo = "0.6.1"
url = "1.7.1"
time = "0.1.40"
crossbeam-channel = "0.3.8"

[target.'cfg(any(target_os = "linux", target_os = "freebsd", target_os="dragonfly", target_os="openbsd"))'.dependencies]
x11-dl = "2"

[target.'cfg(windows)'.dependencies]
winpty = { path = "./winpty" }
mio-named-pipes = "0.1"
miow = "0.3"
winapi = { version = "0.3.5", features = ["impl-default", "winuser", "synchapi", "roerrorapi", "winerror", "wincon"]}
dunce = "0.1"
dirs = "1.0"
widestring = "0.4"
mio-anonymous-pipes = "0.1"
image = "0.20.0"

[target.'cfg(target_os = "macos")'.dependencies]
objc = "0.2.2"
dirs = "1.0.2"

[features]
default = []
# Enabling this feature makes shaders automatically reload when changed
live-shader-reload = []
nightly = []
bench = []

[build-dependencies]
gl_generator = "0.10.0"

[target.'cfg(windows)'.build-dependencies]
embed-resource = "1.1.4"
tempfile = "3.0.4"
reqwest = "0.9"
zip = "0.5"

[profile.release]
lto = true
debug = 1
incremental = false

[package.metadata.deb]
maintainer = "Joe Wilm <joe@jwilm.com>"
license-file = ["LICENSE-APACHE", "3"]
extended-description = """\
Alacritty is the fastest terminal emulator in existence. Using the GPU for \
rendering enables optimizations that simply aren't possible in other emulators. \
Alacritty currently supports FreeBSD, Linux, macOS, and OpenBSD. Windows \
support is planned before the 1.0 release.  """
depends = "$auto"
section = "rust"
priority = "optional"
assets = [
    ["target/release/alacritty", "usr/bin/", "755"],
    ["alacritty.desktop", "usr/share/applications/", "644"],
    ["alacritty-completions.bash", "usr/share/bash-completion/completions/alacritty", "644"],
    ["alacritty-completions.fish", "usr/share/fish/completions/alacritty.fish", "644"],
    ["alacritty-completions.zsh", "usr/share/zsh/vendor-completions/_alacritty", "644"],
    ["alacritty.info", "usr/share/terminfo/a/alacritty", "644"],
]
maintainer-scripts = "debian"

[patch.crates-io]
servo-freetype-sys = { path = "servo-freetype-proxy" }
