[package]
name = "alacritty"
version = "0.1.0"
authors = ["Joe Wilm <joe@jwilm.com>"]
license = "Apache-2.0"
build = "build.rs"
description = "GPU-accelerated terminal emulator"

[[bin]]
doc = false
path = "src/main.rs"
name = "alacritty"

[dependencies]
libc = "0.2"
cgmath = "0.16"
notify = "4"
bitflags = "1"
font = { path = "./font" }
errno = "0.2"
parking_lot = "0.5"
serde = "1"
serde_derive = "1"
serde_json = "1"
mio = "0.6"
serde_yaml = "0.7"
vte = "0.3"
mio = "0.6"
mio-more = "0.1"
copypasta = { path = "./copypasta" }
xdg = "2"
log = "0.4"
clap = "2"
fnv = "1"
unicode-width = "0.1"
arraydeque = "0.4"
glutin = "0.16"
clippy = { version = "*", optional = true }
env_logger = "0.5"
base64 = "0.9.0"

[target.'cfg(any(target_os = "linux", target_os = "freebsd", target_os="dragonfly", target_os="openbsd"))'.dependencies]
x11-dl = "2"

[target.'cfg(windows)'.dependencies]
winpty = { path = "./winpty" }
mio-named-pipes = "0.1"
winapi = { version = "0.3", features = ["winuser", "roerrorapi", "winerror"]}
dunce = "0.1"

[target.'cfg(target_os = "macos")'.dependencies]
objc = "0.2.2"

[features]
default = []
# Enabling this feature makes shaders automatically reload when changed
live-shader-reload = []
nightly = []
bench = []

[build-dependencies]
gl_generator = "0.9"

[target.'cfg(windows)'.build-dependencies]
embed-resource = "1.1.4"

[profile.release]
lto = true
debug = 1
