[package]
name = "alacritty"
version = "0.1.0"
authors = ["Joe Wilm <joe@jwilm.com>"]
license = "Apache-2.0"
build = "build.rs"
description = "GPU-accelerated terminal emulator"

[[bin]]
doc = false
path = "src/main.rs"
name = "alacritty"

[dependencies]
libc = "0.2.23"
cgmath = "0.7"
notify = "2.6"
bitflags = "0.7"
font = { path = "./font" }
errno = "0.2"
lazy_static = "0.2.2"
parking_lot = "0.3.1"
serde = "0.9"
serde_yaml = "0.6"
serde_derive = "0.9"
vte = "0.3.0"
mio = "=0.6.2"
serde_json = "0.9"
copypasta = { path = "./copypasta" }
xdg = "2.0.0"
log = "0.3"
clap = "2.20"
fnv = "1.0.5"
unicode-width = "0.1.4"
arraydeque = "0.2"
clippy = { version = "0.0.104", optional = true }

[target.'cfg(any(target_os = "linux", target_os = "freebsd", target_os="dragonfly", target_os="openbsd"))'.dependencies]
x11-dl = "2.12.0"

[features]
default = ["err-println"]
# Enabling this feature makes shaders automatically reload when changed
live-shader-reload = []
err-println = []
nightly = []
bench = []

[build-dependencies]
gl_generator = "0.5"

[dependencies.glutin]
git = "https://github.com/jwilm/glutin"
rev = "cc64178d39a1fa06b2c5403117e5e0ef24deeac4"

[profile.release]
lto = true
debug = true
