[package]
name = "alacritty_terminal"
version = "0.15.1-dev"
authors = ["Christian Duerr <contact@christianduerr.com>", "Joe Wilm <joe@jwilm.com>"]
license = "Apache-2.0"
description = "Library for writing terminal emulators"
readme = "../README.md"
homepage = "https://github.com/alacritty/alacritty"
edition = "2018"

[dependencies.alacritty_config_derive]
path = "../alacritty_config_derive"
version = "0.1.0"

[dependencies]
libc = "0.2"
bitflags = "1"
parking_lot = "0.11.0"
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.8"
vte = { version = "0.10.0", default-features = false }
mio = "0.6.20"
mio-extras = "2"
log = "0.4"
unicode-width = "0.1"
base64 = "0.13.0"
regex-automata = "0.1.9"
dirs = "3.0.1"

[target.'cfg(unix)'.dependencies]
nix = "0.22.0"
signal-hook = "0.3.10"
signal-hook-mio = { version = "0.2.1", features = ["support-v0_6"] }

[target.'cfg(windows)'.dependencies]
miow = "0.3"
winapi = { version = "0.3.7", features = [
    "impl-default", "basetsd", "libloaderapi", "minwindef", "ntdef", "processthreadsapi", "winbase",
    "wincon", "wincontypes", "winerror", "winnt", "winuser", "consoleapi",
]}
mio-anonymous-pipes = "0.2"

[dev-dependencies]
serde_json = "1.0.0"
