[package]
name = "alacritty_terminal"
version = "0.11.0-rc3"
authors = ["Christian Duerr <contact@christianduerr.com>", "Joe Wilm <joe@jwilm.com>"]
license = "Apache-2.0"
description = "Library for writing terminal emulators"
readme = "../README.md"
homepage = "https://github.com/alacritty/alacritty"
edition = "2018"

[dependencies]
libc = "0.2"
bitflags = "1"
parking_lot = "0.11.0"
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.8"
vte = { version = "0.9.0", default-features = false }
mio = "0.6.20"
mio-extras = "2"
log = "0.4"
unicode-width = "0.1"
base64 = "0.12.0"
terminfo = "0.7.1"
regex-automata = "0.1.9"

[target.'cfg(unix)'.dependencies]
nix = "0.18.0"
signal-hook = { version = "0.1", features = ["mio-support"] }

[target.'cfg(windows)'.dependencies]
mio-named-pipes = "0.1"
miow = "0.3"
winapi = { version = "0.3.7", features = [
    "impl-default", "basetsd", "libloaderapi", "minwindef", "ntdef", "processthreadsapi", "winbase",
    "wincon", "wincontypes", "winerror", "winnt", "winuser",
]}
mio-anonymous-pipes = "0.1"

# Winpty crate supports only MSVC.
[target.'cfg(all(target_os="windows", target_env="msvc"))'.dependencies]
winpty = { version = "0.2.0", optional = true }

[features]
default = []
bench = []

[dev-dependencies]
serde_json = "1.0.0"
