[package]
name = "alacritty_terminal"
version = "0.4.2-dev"
authors = ["Christian Duerr <contact@christianduerr.com>", "Joe Wilm <joe@jwilm.com>"]
license = "Apache-2.0"
description = "Library for writing terminal emulators"
readme = "../README.md"
homepage = "https://github.com/alacritty/alacritty"
edition = "2018"

[dependencies]
libc = "0.2"
notify = "4"
bitflags = "1"
font = { path = "../font" }
parking_lot = "0.9"
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.8"
vte = { version = "0.7.0", default-features = false }
mio = "0.6.20"
mio-extras = "2"
log = "0.4"
unicode-width = "0.1"
base64 = "0.11.0"
terminfo = "0.6.1"
url = "2"
copypasta = "0.6.1"

[target.'cfg(unix)'.dependencies]
nix = "0.16.1"
signal-hook = { version = "0.1", features = ["mio-support"] }

[target.'cfg(windows)'.dependencies]
winpty = "0.2.0"
mio-named-pipes = "0.1"
miow = "0.3"
winapi = { version = "0.3.7", features = [
    "impl-default", "basetsd", "libloaderapi", "minwindef", "ntdef", "processthreadsapi", "winbase",
    "wincon", "wincontypes", "winerror", "winnt", "winuser",
]}
mio-anonymous-pipes = "0.1"

[target.'cfg(target_os = "macos")'.dependencies]
objc = "0.2.2"

[features]
default = []
nightly = []
bench = []

[dev-dependencies]
serde_json = "1.0.0"
