name: CI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Stable
        run: cargo test
      - name: Stable (no default features)
        run: cargo test -p alacritty_terminal --no-default-features
      - name: Oldstable
        run: |
          rustup default 1.70.0
          cargo test
      - name: Clippy
        run: |
          rustup component add clippy
          cargo clippy --all-targets
  check-macos-arm:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - name: Install target
        run: rustup update && rustup target add aarch64-apple-darwin
      - name: Build
        run: cargo build --target=aarch64-apple-darwin
